@import "../../styles/index.scss";

$breakpoints: (
    phone: 640px,
    tablet: 768px,
    desktop: 1024px
) !default;

$phone: 640px;


div.market-box-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;

    @media screen and (max-width: $phone) {
        flex-direction: column;
    }

    div.market-box {
        padding: 14px 14px 0 14px;
        transition: 0.1s;
        cursor: pointer;

        &.market-box--short {
            border: 1px solid var(--clr-short-bg-30);
            background: linear-gradient(
                0deg,
                var(--clr-short-bg-10),
                var(--clr-bg)
            );

            &:hover {
                border: 1px solid var(--clr-short-bg-50);
                background: linear-gradient(
                    0deg,
                    var(--clr-short-bg-20),
                    var(--clr-short-bg-10)
                );
            }

            div.market-box__title > span.title--rank {
                color: var(--clr-short-bg-60);
            }
        }

        &.market-box--long {
            border: 1px solid var(--clr-long-bg-30);
            background: linear-gradient(
                0deg,
                var(--clr-long-bg-10),
                var(--clr-bg)
            );

            &:hover {
                border: 1px solid var(--clr-long-bg-50);
                background: linear-gradient(
                    0deg,
                    var(--clr-long-bg-20),
                    var(--clr-long-bg-10)
                );
            }

            div.market-box__title > span.title--rank {
                color: var(--clr-long-bg-60);
            }
        }

        div.market-box__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span.title--token {
                font-size: 18px;
            }

            span.title--rank {
                margin-left: 10px;
            }
        }

        div.market-box__price {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-top: 5px;

            span.price--text {
                font-size: 28px;
            }

            span.price--change {
                font-size: 18px;
                margin-left: 10px;
            }
        }

        div.market-box__volume {
            padding-top: 10px;
            padding-bottom: 15px;

            span:last-of-type {
                padding-left: 10px;
            }
        }

        svg.market-box__svg {
            padding-bottom: 15px;
        }
    }
}